<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shrikantbadwaik.tmdb">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.shrikantbadwaik.tmdb.UpcomingMoviesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f1c25fa2965716235b3d84e1056a1306d7f47aef" />

        <activity android:name="com.shrikantbadwaik.tmdb.view.upcomingmovies.UpcomingMoviesActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>